@import "tailwindcss";
@config "../tailwind.config.ts";

@layer base {
  *, ::after, ::before, ::backdrop, ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer base {
  body {
    color: #171717;
    background: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
  }
}
